#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem
.DS_Store
# Consul data directories
**/application_config/*

# .hcl files
*.hcl

.idea/
m3/cloud_formation_template/table.txt
network_config/backend_local.tf